/*段落间距优化*/
div.cm-line {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

/* 标题行间距 */
div.HyperMD-header.cm-line{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

/* 列表行间距 */
div.HyperMD-list-line.cm-line{
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
}

/* 代码块间距 */
div.HyperMD-codeblock.cm-line{
    padding-top: 0em !important;
    padding-bottom: 0em !important;
}

/* 换行符处理 */
p>br {
    content: '';
    margin-top: 0.5em;
    display: block;
}

